<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<mat-card>
  <h3>Blockchain</h3>
  <form #hash="ngForm" (ngSubmit)="postBlock(hash)">
    <mat-form-field class="full-width">
      <input matInput placeholder="UID" name="UID" [(ngModel)]="uid" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" name="Email" [(ngModel)]="email" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="User" name="User" [(ngModel)]="user" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Action" name="Action" [(ngModel)]="action" required>
    </mat-form-field>
    <mat-card-actions class="button">
      <button mat-raised-button class="primary" [disabled]="hash.invalid">Create block manually</button>
    </mat-card-actions>
  </form>
  <br/>

  <div *ngFor='let dt of data | async'>
    <ul>
      <li>
        <strong>Block:</strong> {{dt.Index}}</li>
      <li>
        <strong>Timestamp:</strong> {{dt.Timestamp}}</li>
      <li>
        <strong>Data:</strong>
        <ul>
          <li>
            <strong>UID:</strong> {{dt.Data.UID}} </li>
          <li>
            <strong>Email:</strong> {{dt.Data.Email}} </li>
          <li>
            <strong>User:</strong> {{dt.Data.User}} </li>
          <li>
            <strong>Action:</strong> {{dt.Data.Action}} </li>
        </ul>
      </li>
      <li>
        <strong>Hash:</strong> {{dt.Hash}} </li>
      <li>
        <strong>PrevHash:</strong> {{dt.PrevHash}} </li>
      <li>
        <strong>Difficulty:</strong> {{dt.Difficulty}} </li>
      <li>
        <strong>Nonce:</strong> {{dt.Nonce}} </li>
    </ul>
    <hr>
  </div>
</mat-card>