<!-- <mat-spinner *ngIf="loading" mode="indeterminate"></mat-spinner> -->
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<mat-card>
  <!-- <h3>Social Sign up</h3>
  <form (ngSubmit)="" #g="ngForm">
    <mat-card-actions class="button">
      <button class="btn btn-block btn-social btn-google" type="submit" [disabled]="!g.valid"><span class="fa fa-google"></span> Sign up with your Google Account</button>
    </mat-card-actions>
  </form>
  <form (ngSubmit)="" #t="ngForm">
    <mat-card-actions class="button">
      <button class="btn btn-block btn-social btn-twitter" type="submit" [disabled]="!t.valid"><span class="fa fa-twitter"></span> Sign up with your Twitter Account</button>
    </mat-card-actions>
  </form> 
  <form (ngSubmit)="" #fb="ngForm">
    <mat-card-actions class="button">
      <button class="btn btn-block btn-social btn-facebook" type="submit" [disabled]="!fb.valid"><span class="fa fa-facebook"></span> Sign up with your Facebook Account</button>
    </mat-card-actions>
  </form>
  <form (ngSubmit)="" #gh="ngForm">
    <mat-card-actions class="button">
      <button class="btn btn-block btn-social btn-github" type="submit" [disabled]="!gh.valid"><span class="fa fa-github"></span> Sign up with your Github Account</button>
    </mat-card-actions>
  </form>

  <hr /> -->

  <h3>Signup</h3>
  <form (ngSubmit)="onSignup(f)" #f="ngForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Username" type="text" id="username" name="username" ngModel required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Password" type="password" id="password" name="password" ngModel required>
    </mat-form-field>
    <mat-card-actions class="button">
      <button mat-raised-button class="primary" type="submit" [disabled]="!f.valid">Signup</button>
    </mat-card-actions>
  </form>
</mat-card>